# Spring Application Configuration
SPRING_APPLICATION_NAME=notification-system
SPRING_DOCKER_COMPOSE_ENABLED=false
SPRING_DOCKER_COMPOSE_FILE=./compose-test.yaml

# RabbitMQ Configuration
RABBIT_MQ_USER=guest
RABBIT_MQ_PASSWORD=guest
RABBIT_MQ_HOST=localhost
RABBIT_MQ_PORT=5672

# Application-specific Configuration
APP_SEND_TEST_EMAIL=false
APP_TEST_EMAIL_ADDRESS=testEmail@mackiewicz.info

# Email Configuration
# ADD YOUR RESEND.COM API KEY
RESEND_API_KEY= #re_YOUR_API_KEY_HERE
SENDER_EMAIL_ADDRESS= example@yourDomain.dev # ADD YOUR EMAIL ADDRESS FOR SENDING OUT EMAILS HERE

# Logging Configuration
LOGGING_LEVEL_BANKAPP=DEBUG
